#FUNGSI

In [ ]:
def nama_fungsi (argumen) :
  statement_1
  statement_n
  return returned_value

##ARGUMEN DAN PARAMETER

In [ ]:
def data_nama(nama):                #'nama' adalah parameter karena terletak didalam fungsi
    print(nama)                     

data_nama("Budi")                   #'Budi' adalah argumen

Budi

##ARGUMEN POSISI DAN ARGUMEN KATA KUNCI

In [ ]:
def angka(a, b, c) :
    print(a, b, c)

#argumen posisi (berdasarkan posisinya)
angka(1, 2, 3)

#argumen berdasarkan kata kuncinya
angka(a=1, b=2, c=3)
angka(c=3, b=2, a=1)
#note : jika sudah diberi kunci maka urutan tidak menjadi penting

#campuran antara argumen posisi dan argumen kata kunci
angka(1, b=2, c=3)

#hal yang tidak diijinkan atau akan error
#angka(1,b=2,3) : argumen posisi setelah argumen kunci
#angka(1,b=2,a=3) : terdapat dua nilai untuk argumen kunci 'a'

1 2 3
1 2 3
1 2 3
1 2 3

##ARGUMEN DEFAULT

In [ ]:
#Argumen default
def angka2(a, b, c, d=4) :
    print(a, b, c, d)
  
angka2(1, 2, 3, 4)
angka2(1, b=2, c=3, d=100)
angka2(1, 2, 3)

#note : argumen default harus diletakkan terakhir

1 2 3 4
1 2 3 100
1 2 3 4

####PRAKTIK MEMBUAT FUNGSI

In [ ]:
X = 1
Y = 2
X + Y

3

In [ ]:
def pengurangan(x,y) :  #input
    b = x-y             #proses
    return b            #output

pengurangan(11,8)       #penggunaan fungsi

3

####PENJUMLAHAN YANG MEMUNGKINKAN UNTUK 3 BILANGAN

In [ ]:
def pengurangan(x,y,z=None):
    if (z==None) :
      return x-y
    else :
      return x-y-z

print(pengurangan(11,8))
print(pengurangan(11,8,3))

3
0

####MENYIMPAN HASIL FUNGSI DALAM VARIABEL

In [ ]:
def pengurangan(x,y):
    return x-y

a = pengurangan
a(11,8)

3

#LAMBDA

In [ ]:
#Fungsi Lambda, yakni fungsi tanpa nama atau anonymous function

In [ ]:
#misal
def square_sum(x,y) :
    return x**2 + y**2

In [ ]:
#dengan fungsi lambda, tidak perlu menuliskan def, return, bahkan nama
lambda x,y : x**2 + y**2

In [ ]:
#karena lambda tidak punya nama, jadi kita butuh variabel untuk menyimpannya, 
#sehingga nanti tinggal menyebutkan namanya
greeting = lambda name : print(f"hello, {name}")

greeting("Anggi")

hello, Anggi

####CONTOH PENGGUNAAN FUNGSI LAMBDA

In [ ]:
#fungsi lambda untuk menambahkan angka 10 kepada argumen input
f = lambda x : x+10
val1 = f(5)
val2 = f(100)
print(val1,val2)

15 110

In [ ]:
#fungsi lambda untuk mengalihkan dua argumen input dan menampilkan hasilnya
f = lambda x,y : x*y
val3 = f(24,2)
val4 = f(11,8)
print(val3,val4)

48 88

##ANONYMOUS FUNCTION

In [ ]:
def say_hello(name) :
    print(f"hello {name}, apa kabar?")
ucapin = say_hello(nama)
#karena lambda adalah anonymous function, tidak bisa dijalankan dengan fungsi def

NameError: ignored

In [ ]:
greeting = lambda name : print(f"hello {name}, apa kabar?")
sapa = greeting 
greeting("Anggi")
sapa("Nawa")

hello Anggi, apa kabar?
hello Nawa, apa kabar?

##EKSEKUSI LAMBDA SECARA LANGSUNG

In [ ]:
(lambda x,y : x**2 + y**2)(4,6)

52

##MENGAPA HARUS LAMDA?

Dalam kasus tertentu, kita perlu menggunakan lambda. Lambda biasanya dibutuhkan saat ingin membuat fungsi dalam satu baris. Biasanya juga lambda digunakan untuk fungsi fungsi yang membutuhkakn parameter, seperti filter(), map(), dan reduce().

In [ ]:
#CONTOH
#MENENTUKAN BILANGAN GENAP
genap = lambda x : x%2 == 0
list(filter(genap, range(13)))

[0, 2, 4, 6, 8, 10, 12]