# Biodata Pemilik Notebook

```
Nama  : Izza Anggitha Aryanawa
NIM   : 2200015032
PD    : 4.0
Kelas : Dasar
email : anggietha.aryanawa@gmail.com
```

## Pernyataan

Dengan ini saya menyatakan bahwa `Final Project Kelas Dasar 4.0` dikerjakan oleh saya sendiri tanpa ada bantuan dari orang lain.

# Soal 1

Buatlah dua list dan diberi nama `Nama` dan `NIM`. Datanya sebagai berikut.

|Nama|NIM|
|---|---|
|||
|Wisnu Catur Rachmad tulloh |2100015049|
|Sindy Mei Marantika|2100015041|
|Zakiah Intan Maula	|2100015043|
|Januar Nur Rasyid	|2100015006|
|Lisa Nessa Safitri	|2100015037|
|Hasan Darmawan	|2215015035|
|SAIFUL ANDIKA	|2100015051|
|Maya Isafa Sam Saputri| 	2200015023|
|Didi Cahyadi	|2200015012|
|Izza Anggitha Aryanawa| 	2200015032|
|Khusnul Khotimah	|2100015009|
|Badzliana Aqmar Suris 	|2100015016|
|Anggit Larasati	|2100015036|
|Sona Regina Salsabila	|2100015053|
|LELY AMALIA SAPUTRI	|2100015050|
|Nastasya Dewi	|2100015010|
|Ragita Anillya Putri Prasetianto|	2100015002|
|Muhammad Fatah Hidayat	|2200015002|
|Dwi Agustia	|2000015016|
|Nia Andriani Laila	|2000015002|
|Winarsi J. Bidul	|2000015011|
|Heru Pranoto	|2211015008|
|Reynaldi Ikbar Surya Andhika| 	2200015007|
|Muhammad Rafiq Amrullah|	2200015028|
|Muhammad Mujahid Al-makky	|2200015006|
|Fauzi Ramadhan	|2000015018|
|Vinna Rahmasari|	2000015023|
|Shintia Yulita Sari|	1900015057|
|Maretta Mia Audina|	2200015010|
|Salma Aulia Imama 	|2200015009|
|Dhea Emma Karniasari 	|2200015024|
|Khoirun Nisya|	2200015033|
|PUSPITA AMBARWATI|	2000015022|

In [53]:
import pandas as pd

#List Nama (string)
list_nama = ['Wisnu Catur Rachmadtulloh','Sindy Mei Marantika','Zakiah Intan Maula','Januar Nur Rasyid','Lisa Nessa Safitri',
             'Hasan Darmawan','Saiful Andika','Maya Isafa Sam Saputri', 'Didi Cahyadi','Izza Anggitha Aryanawa','Khusnul Khotimah',
             'Badzliana Aqmar Suris','Anggit Larasati','Sona Regina Salsabila','Lely Amalia Saputri','Nastasya Dewi','Ragita Anillya Putri Prasetianto',
             'Muhammad Fatah Hidayat','Dwi Agustia','Nia Andriani Laila','Winarsi J. Bidul','Heru Pranoto','Reynaldi Ikbar Surya Andhika',
             'Muhammad Rafiq Amrullah','Muhammad Mujahid Al-makky','Fauzi Ramadhan','Vinna Rahmasari','Shintia Yulita Sari','Maretta Mia Audina',
             'Salma Aulia Imama','Dhea Emma Karniasari','Khoirun Nisya','Puspita Ambarwati']

#List NIM (integer)
list_nim = [2100015049,2100015041,2100015043,2100015006,2100015037,2215015035,2100015051,2200015023,2200015012,2200015032,2100015009,2100015016,
            2100015036,2100015053,2100015050,2100015010,2100015002,2200015002,2000015016,2000015002,2000015011,2211015008,2200015007,2200015028,
            2200015006,2000015018,2000015023,1900015057,2200015010,2200015009,2200015024,2200015033,2000015022]

# Soal 2

Selanjutnya dari data diatas buatlah sebuah variabel `Angkatan` yang diperoleh dengan melakukan perulangan dan if statment pada variabel `NIM`.

In [56]:
list_angkatan = []
for a in list_nim:
  if a < 2000015000 :
    list_angkatan.append('Angkatan 2019')
  elif 2000015000 <= a and a < 2100015000 :
    list_angkatan.append('Angkatan 2020')
  elif 2100015000 <= a and a < 2200015000 :
     list_angkatan.append('Angkatan 2021')
  else :
     list_angkatan.append('Angkatan 2022')

# Soal 3

Setelah menemukan variabel `Angkatan` silahkan untuk membuat dictionary `Nama`,`NIM`, dan `Angkatan`.

In [57]:
dict_PD ={"Nama":list_nama, "NIM":list_nim, "Angkatan":list_angkatan}

In [58]:
dict_PD["Nama"]

['Wisnu Catur Rachmadtulloh',
 'Sindy Mei Marantika',
 'Zakiah Intan Maula',
 'Januar Nur Rasyid',
 'Lisa Nessa Safitri',
 'Hasan Darmawan',
 'Saiful Andika',
 'Maya Isafa Sam Saputri',
 'Didi Cahyadi',
 'Izza Anggitha Aryanawa',
 'Khusnul Khotimah',
 'Badzliana Aqmar Suris',
 'Anggit Larasati',
 'Sona Regina Salsabila',
 'Lely Amalia Saputri',
 'Nastasya Dewi',
 'Ragita Anillya Putri Prasetianto',
 'Muhammad Fatah Hidayat',
 'Dwi Agustia',
 'Nia Andriani Laila',
 'Winarsi J. Bidul',
 'Heru Pranoto',
 'Reynaldi Ikbar Surya Andhika',
 'Muhammad Rafiq Amrullah',
 'Muhammad Mujahid Al-makky',
 'Fauzi Ramadhan',
 'Vinna Rahmasari',
 'Shintia Yulita Sari',
 'Maretta Mia Audina',
 'Salma Aulia Imama',
 'Dhea Emma Karniasari',
 'Khoirun Nisya',
 'Puspita Ambarwati']

# Soal 4

Lakukan convert kedalam bentuk data frame dan beri nama `df`

In [59]:
df = pd.DataFrame(dict_PD)
df

                                Nama         NIM       Angkatan
0          Wisnu Catur Rachmadtulloh  2100015049  Angkatan 2021
1                Sindy Mei Marantika  2100015041  Angkatan 2021
2                 Zakiah Intan Maula  2100015043  Angkatan 2021
3                  Januar Nur Rasyid  2100015006  Angkatan 2021
4                 Lisa Nessa Safitri  2100015037  Angkatan 2021
5                     Hasan Darmawan  2215015035  Angkatan 2022
6                      Saiful Andika  2100015051  Angkatan 2021
7             Maya Isafa Sam Saputri  2200015023  Angkatan 2022
8                       Didi Cahyadi  2200015012  Angkatan 2022
9             Izza Anggitha Aryanawa  2200015032  Angkatan 2022
10                  Khusnul Khotimah  2100015009  Angkatan 2021
11             Badzliana Aqmar Suris  2100015016  Angkatan 2021
12                   Anggit Larasati  2100015036  Angkatan 2021
13             Sona Regina Salsabila  2100015053  Angkatan 2021
14               Lely Amalia Saputri  2100015050  Angkatan 2021
15                     Nastasya Dewi  2100015010  Angkatan 2021
16  Ragita Anillya Putri Prasetianto  2100015002  Angkatan 2021
17            Muhammad Fatah Hidayat  2200015002  Angkatan 2022
18                       Dwi Agustia  2000015016  Angkatan 2020
19                Nia Andriani Laila  2000015002  Angkatan 2020
20                  Winarsi J. Bidul  2000015011  Angkatan 2020
21                      Heru Pranoto  2211015008  Angkatan 2022
22      Reynaldi Ikbar Surya Andhika  2200015007  Angkatan 2022
23           Muhammad Rafiq Amrullah  2200015028  Angkatan 2022
24         Muhammad Mujahid Al-makky  2200015006  Angkatan 2022
25                    Fauzi Ramadhan  2000015018  Angkatan 2020
26                   Vinna Rahmasari  2000015023  Angkatan 2020
27               Shintia Yulita Sari  1900015057  Angkatan 2019
28                Maretta Mia Audina  2200015010  Angkatan 2022
29                 Salma Aulia Imama  2200015009  Angkatan 2022
30              Dhea Emma Karniasari  2200015024  Angkatan 2022
31                     Khoirun Nisya  2200015033  Angkatan 2022
32                 Puspita Ambarwati  2000015022  Angkatan 2020

# Soal 5

Buatlah Visualisasi dengan menggunakan `pie chart` dengan menunjukan banyaknya orang setiap angkatan yang mengikuti PD 4.0

# Soal 6

Lakukan penyimpanan data frame `df` ke dalam bentuk `csv` dengan nama `data_pd4.csv`

In [60]:
df.to_csv('data_pd4.csv')

# Soal 7

Buatlah data frame dengan nama `df1` dari file csv `iris.csv`

In [62]:
df1 = pd.read_csv('/content/iris - iris.csv')
df1

     sepalwidth  sepallength  petalwidth  petallength            type
0           5.1          3.5         1.4          0.2     Iris-setosa
1           4.9          3.0         1.4          0.2     Iris-setosa
2           4.7          3.2         1.3          0.2     Iris-setosa
3           4.6          3.1         1.5          0.2     Iris-setosa
4           5.0          3.6         1.4          0.2     Iris-setosa
..          ...          ...         ...          ...             ...
145         6.7          3.0         5.2          2.3  Iris-virginica
146         6.3          2.5         5.0          1.9  Iris-virginica
147         6.5          3.0         5.2          2.0  Iris-virginica
148         6.2          3.4         5.4          2.3  Iris-virginica
149         5.9          3.0         5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Soal 8

Uplod `data_pd4.csv` kedalam github masing-masing lalu lakukan pembacaan data melalui raw.github dengan mencantumkan link data pada github. Lalu buatlah data frame dengan nama `df2`