#LIST

List adalah jenis kumpulan data terurut (ordered sequence) dan merupakan salah satu variabel yang sering digunakan pada phyton,

In [ ]:
matkul = ["fuzzy","pdp","metnum","graph"]
print(matkul[2])
print(matkul[2:])
print(matkul[1:3])
print(matkul[-1])
print(matkul[-3:-1])
print(matkul[-4:-1])

metnum
['metnum', 'graph']
['pdp', 'metnum']
graph
['pdp', 'metnum']
['fuzzy', 'pdp', 'metnum']

In [ ]:
#Terurut/ordered
print()

In [ ]:
#dapat diganti/mutable
matkul[2] = "siskom"
print(matkul)

['fuzzy', 'pdp', 'siskom', 'graph']

In [ ]:
#dapat diindeks/slicing

##Latihan 1
###Buatlah list kalian sendiri dengan tiga tipe data minimal enam elemen

In [ ]:
MATH22 = ("Maya","33","Didi","11.8","Anggik","2022")
print(MATH22[3])
print(MATH22[4:])
print(MATH22[-5])
print(MATH22[0:5])

11.8
('Anggik', '2022')
33
('Maya', '33', 'Didi', '11.8', 'Anggik')

#TUPLE

Tuple adalah jenis dari struktur dala yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma

##Latihan 2

In [ ]:
T2 = ("desimal", 2.5 , 3+9j , True, "graph")
print ("ini adalah tuple dua",T2)

ini adalah tuple dua ('desimal', 2.5, (3+9j), True, 'graph')

In [ ]:
T1 = ("anggik",22,False)

In [ ]:
T3 = T1 +T2
print(T3)

('anggik', 22, False, 'desimal', 2.5, (3+9j), True, 'graph')