#Variable & Tipe Data

##Variable

In [ ]:
kal = 'ini adalah kalimat'
bil1 = 4
bil2 = 2.5
bil3 = True
bil4 = 1j + 4

##Tipe Data

In [ ]:
kal = 'ini adalah kalimat'    #String atau kalimat
bil1 = 4                      #Integer atau bilangan bulat
bil2 = 2.5                    #Float atau bilangan desimal
bil3 = True                   #Boolean yang terdiri dari True dan False
bil4 = 1j + 4                 #Complex yang merupakan bilangan kompleks

In [ ]:
# Menampilkan Tipe Data
print(type(kal))
print(type(bil1))
print(type(bil2))
print(type(bil3))
print(type(bil4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

### LATIHAN 1

In [ ]:
KAL = 'math22 ada 33 anak'
BIL1 = 11
BIL2 = 11.08
BIL3 = 11j - 3
BIL4 = False

In [ ]:
# Menampilkan Tipe Data
print(type(KAL))
print(type(BIL1))
print(type(BIL2))
print(type(BIL3))
print(type(BIL4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [ ]:
print (KAL)
print (BIL1)
print (BIL2)
print (BIL3)
print (BIL4)

math22 ada 33 anak
11
11.08
(-3+11j)
False